#!/usr/bin/make -f

#export DH_VERBOSE=1
export PYBUILD_NAME = epd
PANEL_VERSION := V230_G2
DESTDIR := $(CURDIR)/debian/epd-fuse-v230-g2
PREFIX := /usr
RELEASE := $(shell lsb_release -rs)

SERVICE = initd
ifeq "8.0" "$(word 1, $(sort 8.0 $(RELEASE)))"
        SERVICE = systemd
endif

%:
	dh $@ --with systemd,python2,python3 --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	$(MAKE) PANEL_VERSION=$(PANEL_VERSION) PREFIX=$(PREFIX) DESTDIR=$(DESTDIR) SERVICE=$(SERVICE) rpi-epd_fuse

override_dh_auto_install:
	dh_auto_install
	$(MAKE) PANEL_VERSION=$(PANEL_VERSION) PREFIX=$(PREFIX) DESTDIR=$(DESTDIR) SERVICE=$(SERVICE) rpi-install

#override_dh_strip:
#	dh_strip -ppython-epd  --dbg-package=python-epd-dbg
#	dh_strip -ppython3-epd --dbg-package=python3-epd-dbg
