[Unit]
Description=A Fuse driver for the Repaper.org EPD
After=network.target

[Service]
Type=forking
PrivateDevices=no
SyslogLevel=err

# make sure panel size matches installed EPD panel
Environment=EPD_MOUNTPOINT=/dev/epd EPD_SIZE=2.0 "EPD_OPTS=-o allow_other -o default_permissions"
EnvironmentFile=/etc/default/epd-fuse
ExecStartPre=/usr/bin/mkdir -p ${EPD_MOUNTPOINT}
ExecStart=/usr/sbin/epd_fuse --panel=${EPD_SIZE} $EPD_OPTS ${EPD_MOUNTPOINT}
ExecStop=/usr/bin/umount /dev/epd
KillSignal=SIGQUIT
KillMode=mixed

[Install]
WantedBy=multi-user.target
